* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    background:linear-gradient(#b9cbf5,rgb(191, 191, 194));
    min-height: 100vh;
    border: 15px solid #271114;
  }
  
  .content {
    max-width: 900px;
    margin: 0 auto;
    color: rgb(24, 34, 44);
  }
  .top_section{
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
  
  }
 
  
  .image_container {
    border-radius: 100%;
    overflow: visible;
  }
  
  .image_container,
  img {
    width: 1100px;
    height: 700px;
    margin: 0 auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .about_section {
    margin-top: 750px;

  }
  .about_section h1 {
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(30, 28, 34);
    margin-bottom: 20px;
  }
  .about_section h4 {
    font-size: 20px;
    font-weight:100px;
    font-style: italic;
    color: rgb(27, 22, 33);
    margin-bottom: 20px;
  }
  
  .about_section h2 {
    font-size: 70px;
    font-weight: 400;
    font-style: italic;
    color: rgb(10, 43, 54);
    margin-bottom: 20px;
  }
  .about_section p {
    font-size: 20px;
    font-family:italic;
    color: rgb(31, 26, 42);
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
    text-decoration: wavy;
  }
  .Albums {
    margin: 50px 0;
  }
  .Albums h3 {
    margin-bottom: 20px;
  }
  .Albums ul {
    margin-left: 50px;
  }
  .Albums li {
    margin-bottom: 15px;
  }
  .Albums {
    font-style: italic;
  }
  .Albums {
    font-size: larger;
    font-weight: 900;
  }
  .Albums {
    color: rgb(167, 147, 208);
  }
  footer {
    margin: 50px 0;
  }
  footer p {
    text-align: end;
  }